# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local env files
*.local
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage

# Cache
*.tsbuildinfo
.eslintcache
.stylelintcache

# Temp
tmp-*
temp
*.tmp
